<app-tabla></app-tabla>

<!-- <app-tabla ></app-tabla>
 -->
<div class="tabla">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Codigo Estado</th>
                <th scope="col">Fecha Cierre</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lista of listadoLicitaciones.Listado">
                <td scope="row">{{lista.CodigoExterno}}</td>
                <td>{{lista.Nombre}}</td>
                <td>{{lista.CodigoEstado}}</td>
                <td>{{lista.FechaCierre}}</td>
                <td><input [routerLink]="['/','detalle',lista.CodigoExterno]" type="button" value="Ver más"></td>
            </tr>
        </tbody>
    </table>
</div>